*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.informações_pessoais{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}

.foto_perfil{
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}

.dados_pessoais{
    margin-top: 7%;
    margin-left: 1%;
}

.biografia {
    display: flex;
    justify-content: end;
    margin-top: 1%;
    margin-right: 1%;
}

.foto1{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

.biografia1{
    margin-top: 7%;
    margin-right: 1%;
    margin-left: 10%;

}

.redes_sociais{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}

.foto2{
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}

.links{
    margin-top: 7%;
    margin-left: 1%;
}

.Características {
    display: flex;
    justify-content: end;
    margin-top: 1%;
    margin-right: 1%;
}

.foto3{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

.Características1{
    margin-top: 7%;
    margin-right: 1%;
    margin-left: 10%;

}

.links1{
    margin-top: 7%;
    margin-left: 1%;
    margin-right: 1%;
}

.redes_sociais1{
    display: flex;
    margin-top: 1%;
    margin-right: 1%;
}
